*, html, body {
  box-sizing: border-box;
  font-family: goudy-bookletter-1911, serif;
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
}

.white {
  color: #fff;
}

.cream {
  color: #FDF7EC;
}

.blue {
  color: #0094e5;
}

.yellow {
  color: #e5ab00;
}

.orange {
  color: #E56500
}

.red {
  color: #e5001a
}

.gray {
  color: #737373
}

.brown {
  color: #342103;
}

.black {
  color: #000;
}

.loading-container {
  position: fixed;
  top: 40%;
  left: 42.5%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-nav {
  background-color: #FDF7EC;
}

.main-nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin: 0;
  padding: 0;
}

.main-nav-logo-container {
  list-style: none;
}

.main-nav-logo {
  height: 70px;
}

.tabs {
  display: flex;
  margin: 0;
  padding: 1px 0;
  border-bottom: 1px solid #737373;
}

.tab-item {
  flex-basis: 25%;
  height: 50px;
  font-size: 1rem;
  list-style: none;
}

.tab-item a {
  display: block;
  line-height: 50px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color: #342103;
 }

 .tab-item a.active, .tab-item a:hover,  .tab-item a:focus {
  color: #E56500;
 }

 .tab-item a.active {
  color: #E56500;
  border-bottom: 2px solid #E56500;
 }

 .find-books {
  display: flex;
  flex-direction: column;
  margin: 30px 20px 0;
 }

 .find-books-categories {
  font-size: 1.1rem;
  width: 70%;
}

 .find-books label {
   font-size: 1.1rem;
   margin: 0.45rem 0;
 }

 .find-books-search {
  margin-left: 10px;
  height: 25px;
  width: 73%;
  font-size: 1.1rem;
 }

 .find-books-categories { 
   margin-left: 10px;
 }

 .book-list-container {
   margin: 0 20px;
 }

.book-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 30px 0;
}

.book-list a {
  color: #000;
  text-decoration: none;
}

.book-list h3 {
 font-size: 1.15rem;
 margin: .75rem 0;
}

.book-info {
  flex-basis: 100%;
  list-style: none;
  text-align: center;
  position: relative;
  margin-bottom: 1.75rem;
}

.book-list img {
  height: 377px;
  width: 250px;
}

.add-to-dropdown {
  position: absolute;
  top: 75%;
  left: 65%;
  text-align: left;
  margin: 0;
  float: right;
  z-index: 2;
}

.add-to-dropdown-button {
  font-family: serif;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 2px solid #342103;
  background: #FDF7EC;
  color: #342103;
  font-size: 20px;
  opacity: 0.75;
}

.add-to-dropdown.open .add-to-dropdown-button, .add-to-dropdown-button:hover {
  opacity: 1;
}

.add-to-dropdown-items {
  background-color: #FDF7EC;
  display: none;
  padding: 0;
  position: absolute;
  top: 90%;
  right: 93%;
  width: 155px;
  border-radius: 5%;
  border: 1px solid #737373;
}

.add-to-dropdown.open .add-to-dropdown-items {
  display: block;
}

.add-to-dropdown-items li {
  list-style: none;
  border-bottom: 1px solid #737373;
  color: #342103;
}

.add-to-dropdown-items li a {
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 0.25rem;
}

.add-to-dropdown-items li .in-list:after {
  content: '✓';
  position: absolute;
  left: 85%;
}	

.add-to-dropdown-items li a:hover {
  color: #E56500;
}

.add-to-dropdown-items li:last-of-type {
  border-bottom: none;
}


@media (min-width: 640px) {
  .book-info {
    flex-basis: 50%;
  }

  .add-to-dropdown {
    top: 76%;
    left: 69%;
  }

  .tab-item {
    font-size: 1.25rem;
  }

  .find-books {
    flex-direction: row;
    justify-content: space-between;
   }

   .find-books label {
    margin: 0;
  }

  .find-books-categories {
    width: auto;
  }

  .find-books-search {
    width: 200px;
   }
}

@media (min-width: 1024px) {
  .book-info {
    flex-basis: 33.33%;
  }

  .add-to-dropdown {
    top: 76%;
    left: 72%;
  }
}

@media (min-width: 1445px) {
  .book-list img {
    height: 495px;
    width: 328px;
  }

  .book-list h3 {
    font-size: 1.35rem;
   }

  .add-to-dropdown {
    top: 80%;
    left: 80%;
  }
}